.flyout-link {
  position: relative;
  width: fit-content;
  height: fit-content;
}

.link {
  position: relative;
  text-decoration: none;
  color: #fff;
  font-family: "Open Sans";
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  opacity: 0.6;
}

.underline {
  position: absolute;
  bottom: -0.5rem;
  left: -0.5rem;
  right: -0.5rem;
  height: 0.25rem;
  border-radius: 0.25rem;
  background-color: #fff;
  transform: scaleX(0);
  transition: transform 0.3s ease-out;
}

.underline.show {
  transform: scaleX(1);
}

.flyout-content {
  position: absolute;
  left: 50%;
  top: 3.2rem;
  background-color: FFF;
  color: black;
}

/* Styles for tablets (width between 600px and 900px) */
@media (min-width: 600px) and (max-width: 900px) {
  .link {
    font-size: 16px;
    color: #2e333e;
  }
}

/* Styles for mobile devices (width up to 599px) */
@media (max-width: 599px) {
  .link {
    font-size: 16px;
    color: #2e333e;
  }
}
