.news_card {
  border-radius: 5px;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.news_card img {
  width: 21vw;
  height: 450;
  gap: 0px;
  opacity: 1;
  transition: transform 0.7s ease;
}

/* .news_card:hover img {
  transform: scale(1.1);
  transition: 300ms;
  filter: blur(3px);
} */

.card-body {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 10px;
  color: #fff;
  width: 100%;
  height: auto;
  transition: bottom 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.know-more {
  position: absolute;
  bottom: 20px;
  left: 20px;
  margin: 0;
  color: #4fc9e0;
  font-size: 14px;
  text-decoration: none;
  z-index: 1;
  visibility: hidden;
  display: flex;
  align-items: center;
  gap: 8px;
}

.country {
  position: absolute;
  bottom: 10px;
  left: 20px;
  margin: 0;
  color: white;
  font-size: 14px;
  z-index: 1;
  transition: 0.3s ease;
}

.news_card:hover .know-more,
.news_card:hover .news_brief,
.news_card:hover .news_title {
  visibility: visible;
}

.news_card:hover .country {
  bottom: 40px;
  color: white;
}

.news_card::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  /* background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0)); */
  pointer-events: none;
  transition: background-color 0.3s ease;
  z-index: 0;
}

/* .news_card:hover::after {
  background: rgba(0, 0, 0, 0.7);
} */

.news_title {
  font-size: 28px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: left;
  width: 15vw;
  position: absolute;
  bottom: 170px;
  left: 20px;
  z-index: 1;
  visibility: hidden;
}

.news_brief {
  font-size: 14px;
  font-family: "Times New Roman", Times, serif;
  color: rgb(176, 172, 172);
  position: absolute;
  bottom: 80px;
  left: 20px;
  z-index: 1;
  visibility: hidden;
}

@media (max-width: 1024px) {
  .know-more {
    visibility: visible;
    bottom: 10px;
  }

  .country {
    bottom: 30px;
  }

  /* .news_card img {
        width: 250px;
    } */
}

@media (max-width: 768px) {
  .news_card img {
    width: 80vw;
  }
}

@media (max-width: 426px) {
  .news_card img {
    width: 90vw;
  }

  .know-more,
  .country {
    font-size: 12px;
  }
}
