.coming-soon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #fff;
  color: rgba(30, 30, 30, 0.7);
  text-align: center;
  font-family: El Messiri;
}

.coming-soon-content {
  max-width: 600px;
  padding: 20px;
  border: 2px solid rgba(30, 30, 30, 0.7);
  border-radius: 10px;
}

h1 {
  font-size: 3em;
  margin-bottom: 20px;
}

commingsoon-text {
  font-size: 1.5em;
  margin-bottom: 10px;
}